<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Login <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Fitness Connect™ Dashboard</h1>

          <h2 class="sub-header">Add New Client</h2>
          <div class="table-responsive">
            <form>
              <p>Enter Client Information:</p>
              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example11">First Name:</label>
                <input type="firstname" id="form2Example11" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example22">Last Name:</label>
                <input type="lastname" id="form2Example22" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example22">Address:</label>
                <input type="address" id="form2Example22" class="form-control" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form2Example22">Phone Number:</label>
                <input type="phone" id="form2Example22" class="form-control" />
              </div>

              <div class="text-center pt-1 mb-5 pb-1">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Create Client</button>
                <a class="text-muted" href="resetpw.html">Forgot password?</a>
              </div>

              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Having trouble?</p>
                <a href="mailto:gmail@chucknorris.com" target="_blank">Contact Administrator</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>