<div class="sidebar">
  <a class="active" href="#home">Menu</a>
  <a href="./trainer">Trainers</a>
  <a href="#contact">Clients</a>
  <a href="#about">Interest</a>
</div>
<!-- Page content -->
<div class="content">

</div>