<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="/client">Clients</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Trainers</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </div>
    <div class="row">
    <div class="col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-2 main">
      <h1 class="page-header">
        Welcome, {{f_name}}
      </h1>
      <p>The client list is attached to the right.  Click on a perspective client to see if they're a good match.</p>
      </div>
      <div class="col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-1 main">
      <h2 class="clients">
        Clients
      </h2>
      <ul>
        {{#each clients}}
        <li>
          <a href="/api/client/{{this.client_id}}">
            <p>{{this.first_name}} {{this.last_name}} 
            </p>
          </a>
        </li>
        {{/each}}
      </ul>
      </div>
    </div>
  

