<h1><header class="container-fluid mt-4" style="background:black;">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/images/proj-2-logo.png" alt="Company Logo" style="max-width: 8rem;">
        </div>
        <div class="col-sm-9">
            <h1 class="float-right mt-5 text-light" style="font-size:1.5rem;">CONNECTING YOUR WORKFORCE</h1>
        </div>
    </div>    
    </header>
    <section class="row h-100">
        <nav class="navbar col-sm-2" style="background: black; align-items: start;">
            
            <ul class="navbar-nav mb-5 ml-3">
                <li class="nav-item ">
                    <h4 class="text-light font-weight-bolder">Menu</h4>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Trainers</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Clients</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Skills</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm-10 pl-5" id="login">
            <form class="ml-5">
                <div class="form-group mt-5">
                    <h2>Login</h2>
                </div>
                <div class="form-group w-75">
                  <label for="username">Username:</label>
                  <input type="username" class="form-control" placeholder="Enter username" id="username">
                </div>
                <div class="form-group w-75">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" placeholder="Enter password" id="pwd">
                </div>
                <div class="form-group row">
                    <div class="col-md-6 ">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember"> Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="btn btn-link">
                            Forgot Your Password?
                        </a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-primary" onclick="document.getElementById('sign-up').style.display='block'">Sign-up</button>

    
    </section>