  
    <section>
        {{>sidebar }}
    </section>

    <div class="hero">
        <div class="row justify-content-center">
            <div class="col-lg-7" style="margin-top: 65px;">
                <div class="card">

                <img src="./img/homepage_img.jpg" class="hero-img-top" alt="...">
                    
                </div>
            </div>
        </div>
    </div>

        